html {
    margin: auto;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    background-color: #212729;
    font-size: 100%;
}
body {
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    color: white;
}
.content {
    margin-left: 1em;
    margin-right: 1em;
}
.texts {
    font-size: 1.25em;
    color: aliceblue;
    margin: auto;
    height: 8em;
    width: 100%;
}
#input_texts textarea {
    max-height: 100%;
}
.texts textarea {
    box-sizing: border-box;
    border: solid #8c8273 3px;
    margin: auto;
    background-color: #3f4447;
    color: aliceblue;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    resize: vertical;
}
h1 {
    color: rgb(228, 227, 217);
    font-size: 250%;
    margin: auto;
    text-align: center;
}
.inputbox {
    margin: 1em 0 1em 0;
    width: 50%;
}
#errortext {
    color: rgb(255, 91, 91);
    display: inline;
}
#processtext {
    color: rgb(147, 235, 147);
    display: inline;
}
.responsivetext {
    min-height: 2em;
    margin-top: 2em;
    margin-bottom: -1em;
}
.numinput {
    color: rgb(207, 202, 202);
    background-color: #181a1b;
    font-size: 120%;
    border:2px #dfdad1 solid;
    width: 25%;
    min-width: 10em;
}
button {
    background-color: #181a1b;
    border-color: #8c8273;
    border-radius: 15%;
    color: white;
    transition: 0.3s;
}
button:hover {
    background-color: #807373;
    border-color: #8c8273;
    border-radius: 15%;
    color: white;
}

.radiotext{
    display: inline-block;
    width: 15%;
    min-width: 8em;
}
.radio {
    float: right;
}

.navbar {
    text-align: right;
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;
    height: 5%;
    border-bottom: 2px solid gray;
    background-color: #333b3e;
}
.navbar h2{
    float: left;
    margin-left: 1em;
}
.navbar-nav {
    margin-right: 3em;
    justify-content: end;
    align-items: baseline;
    list-style-type: none;
}
.navbar-nav li {

    display: inline;
    text-decoration: underline;
    margin-right: 1em;
}
.navbar-content {
    margin-left: auto;
}
.navbar-nav li a {
    color: white;
    text-decoration: none;
    text-align: center;
}
.navbar-nav li a:hover {
    color: rgb(174, 175, 176);
    text-decoration: none;
    text-align: center;
}